<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="plugin-toast-notification"
        version="0.0.1">
  <name>Toast Notification</name>
  <description>Show Toast Notification</description>
  <license>MIT</license>
  <keywords>cordova,plugin,toast</keywords>
  <js-module src="www/toast.js" name="toast">
    <clobbers target="toast" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="ToastCordova">
        <param name="android-package" value="org.apache.cordova.ToastCordova"/>
        <param name="onload" value="true"/>
      </feature>
    </config-file>

    <source-file src="src/android/ToastCordova.java" target-dir="src/org/apache/cordova/ToastCordova" />
  </platform>
</plugin>


